.feed-container{

  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(280px,1fr));

  gap:30px;

}

.feed-card{

  background:#1b1b2e;

  border-radius:25px;

  overflow:hidden;

  cursor:pointer;

  transition:0.4s;

  border:1px solid rgba(255,255,255,0.08);

  position:relative;

}

.feed-card:hover{

  transform:
  translateY(-10px)
  scale(1.02);

}

.thumbnail{

  height:250px;

}

.feed-info{

  padding:22px;

}

.feed-meta{

  display:flex;

  justify-content:space-between;

  margin-top:15px;

}

.algorithm-badge{

  position:absolute;

  top:15px;

  right:15px;

  background:rgba(0,0,0,0.6);

  padding:8px 14px;

  border-radius:20px;

  font-size:0.8rem;

}